doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title Sea
        // Path to Framework7 Library CSS
        link(rel="stylesheet", href="css/#{stylesheetFilename}.css")
        link(rel="stylesheet", href="css/#{stylesheetColorsFilename}.css")
        // Path to your custom app styles
        link(rel="stylesheet", href="css/my-app.css")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU",type="text/javascript")
    body(onload="onDeviceReady()")
        // Panels overlay
        .panel-overlay
        // Left panel with reveal effect
        .panel.panel-left.panel-reveal
            .view
                .pages
                    .page(data-page='panel-left')
                        .page-content
                            .content-block
                                .list-block
                                    ul
                                        li
                                            a(href="dtp.html").item-link.close-panel
                                                .item-content
                                                    .item-media
                                                        i.icon.icon-road-accident
                                                    .item-inner
                                                        .item-title Попали в ДТП?
                                        li
                                            a(href="osago.html").item-link.close-panel
                                                .item-content
                                                    .item-media
                                                        i.icon.icon-osago
                                                    .item-inner
                                                        .item-title Осаго
                                        li
                                            a(href="mulct.html").item-link.close-panel
                                                .item-content
                                                    .item-media
                                                        i.icon.icon-mulct
                                                    .item-inner
                                                        .item-title Штрафы ГИБДД
        // Views
        .views
            // Your main view, should have "view-main" class
            .view.view-main
                // Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
                .pages.navbar-fixed
                    // Page, data-page contains page name
                    .page(data-page="index").index-page
                        .navbar.index-page
                            .navbar-inner
                                // We have home navbar without left link
                                .left
                                    // Right link contains only icon - additional "icon-only" class
                                    a(href="#").link.icon-only.open-panel 
                                        i.icon.icon-bars.icon-bars-red
                        h1 
                            img(src='img/bg-logo.png',width='100%')
                            .slides
                                .slide1 Владивосток - город вежливых водителей
                                .slide2 Избавим город от пробок
                        .toolbar.toolbar-bottom.index-toolbar
                            .content-block.buttons-row
                                    a(href="#").button.button-fill.ext-call 
                                        img(src="img/i-logo-w.png",width=24,heigth=24,style="margin-top: -5px;",hspace="5", align="center").icon
                                        Аваркнуть
                                    a(href="map.html").button.button-fill Доехать
        
        // Add cordova.js
        script(type="text/javascript", src="cordova.js")
        // Path to Framework7 Library JS
        script(type="text/javascript", src="js/#{scriptFilename}.js")
        // Path to your app js
        script(type="text/javascript", src="js/my-app.js")
