// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="list")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.back 
                        i.icon.icon-back
                .center.sliding Порядок действий при ДТП
        // Scrollable page content
        .page-content
            .list-block
                ul
                    li.item-content
                        .item-inner 1. Включите аварийную сигнализацию и выставьте знак аварийной остановки на расстоянии 15 метров от автомобиля в населенных пунктах и 30 метров за городом. Помните: знак аварийной остановки поможет другим участникам движения заметить Вас и  избежать возможных негативных последствий. Не перемещайте автомобили и предметы, имеющие отношение к происшествию;
                    li.item-content
                        .item-inner 2. Не паникуйте, не нервничайте и постарайтесь спокойно оценить ситуацию;
                    li.item-content
                        .item-inner 3. Если есть пострадавшие, вызовите «Скорую медицинскую помощь» по телефонам 03 или 112. Постарайтесь оказать необходимую доврачебную помощь.    
                    li.item-content
                        .item-inner 4. Запишите фамилии, адреса, телефоны свидетелей, которые могли быть очевидцами событий ДТП.
                    li.item-content
                        .item-inner 5. Сообщите о случившемся в дежурную часть ГИБДД г.Владивостока по телефону 127 или (423) 231-09-08, или позвоните по телефону 112. Вызовите сотрудника службы аварийных комиссаров по телефону (423)248-84-28.
                    li.item-content
                        .item-inner 6. В случае спорной ситуации и каких-либо разногласий со вторым участником ДТП, ожидая приезда сотрудников полиции, не поддавайтесь на возможные провокации или иные действия других участников ДТП и прочих лиц;
                    li.item-content
                        .item-inner 7. Если у Вас с собой имеется фотоаппарат или видеокамера, сфотографируйте место происшествия с четырех сторон. Дорожная обстановка и следы могут измениться по многим причинам еще до прибытия аварийного комиссара или инспектора ДПС;
                    li.item-content
                        .item-inner 8. Сразу после происшествия, если нет уверенности в причинах ДТП, не сообщайте работникам ГИБДД никаких сведений об обстоятельствах происшествии, кроме своих данных. Сообщите, что не в состоянии ничего рассказать, находитесь в стрессовой ситуации и плохо себя чувствуете. Статья 51 Конституции предоставляет право молчать до появления Вашего адвоката;
                    li.item-content
                        .item-inner 9. По прибытии на место происшествия сотрудников ГИБДД, будут выполнены соответствующие замеры и составлена схема происшествия, после чего каждому водителю инспектор ГИБДД выдаст Справку об участии в ДТП с указанием повреждений автомобиля. Кроме этого, в случае разногласий по виновности, будет назначена административная комиссия в ГИБДД.
                    li.item-content
                        .item-inner 10. По прибытии на место ДТП аварийного комиссара, проконсультируйтесь у него о дальнейших действиях, правильности написания объяснения по обстоятельствам ДТП. Аварийный комиссар зафиксирует повреждения автомобилей, их расположение на проезжей части и следов происшествия (осколки, осыпь, тормозные следы). Проконсультирует о порядке прохождения административной комиссии, а также  обращения в страховую компанию за получением страхового возмещения.
