// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-through.toolbar-through
    // Page, data-page contains page name
    .page(data-page="mulct")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.open-panel 
                        i.icon.icon-bars
                .center.sliding Штрафы ГИБДД
        // Scrollable page content
        .page-content
            .list-block
                ul
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label СТС/СОР
                                .item-input
                                    input(name="mulct_sts",type="text", placeholder="00АА000000", maxlength="10")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Номер и серия В/У
                                .item-input
                                    input(name="mulct_vu",type="text", placeholder="00АА000000", maxlength="10")
                    li
                        .content-block
                            a(href="#").button.button-raised#check-mulct Проверить
