// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="my")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    a(href="#").back.link
                        i.icon.icon-back
                .center.sliding Мои полисы
        // Scrollable page content
        .page-content
            a(href="my-add.html").floating-button.color-red
                i.icon.icon-plus
            .list-block.media-list
                ul(id="my-list")
