// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="osago")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.open-panel 
                        i.icon.icon-bars
                .center.sliding ОСАГО
        // Scrollable page content
        .page-content
            .list-block.media-list
                ul
                    li
                        a(href="tel:+74232488428").item-link.external.item-content
                            .item-media
                                img(src="img/i-logo.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title Вызвать агента
                                .item-subtitle Наш агент приедет к вам
            .list-block.media-list
                ul
                    li
                        a(href="my.html").item-link.item-content
                            .item-media
                                img(src="img/i-osago.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title Мои полисы
                                .item-subtitle Сохраненные полисы
            
            .content-block-title Проверка КБМ
            .list-block
                ul 
                    li
                        a(href="osago-ur.html").item-link.item-content
                            .item-inner
                                .item-title-row
                                    .item-title Юридическое лицо
                    li
                        a(href="osago-fiz.html").item-link.item-content
                            .item-inner
                                .item-title-row
                                    .item-title Физическое лицо
