// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="osago-fiz")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    a(href="#").back.link
                        i.icon.icon-back
                .center.sliding КБМ (Физическое лицо)
        // Scrollable page content
        .page-content
            .list-block
                ul
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Фамилия
                                .item-input
                                    input(name="firstname", type="text", placeholder="фамилия")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Имя
                                .item-input
                                    input(name="lastname", type="text", placeholder="имя")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Отчество
                                .item-input
                                    input(name="patronymic", type="text", placeholder="отчество")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Дата рождения
                                .item-input
                                    input(name="birtdate", type="date", placeholder="дата рождения")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Серия В/У
                                .item-input
                                    input(name="serial", type="text", placeholder="серия в/у", maxlength=4)
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Номер В/У
                                .item-input
                                    input(name="number", type="text", placeholder="номер в/у", maxlength=6)
                    li
                        .item-content
                            .item-media
                                img(id="dkbm-captcha")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Код с картинки
                                .item-input
                                    input(name="code", type="text", placeholder="код")
                    li
                        .content-block
                            input(name="JSID", type="hidden")
                            a(href="#").button.button-raised#check-kbm Проверить
