.page {
    background: url("../img/bg.png") !important;
}
i.icon.icon-road-accident {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-road-accident.png");
  border-radius: 3px;
}
i.icon.icon-osago {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-osago.png");
  border-radius: 3px;
}
i.icon.icon-mulct {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-mulct.png");
  border-radius: 3px;
}
i.icon.icon-logo {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-logo.png");
  border-radius: 3px;
}
/*.navbar, .toolbar, .subnavbar {
    background: #e3002b;
}*/
.button, a {
    /*color: #e3002b;*/
}
.login-screen {
    background: url("../img/splash.png") no-repeat;
    padding-top: 260px;
    transition-duration: 0ms !important;
    text-align: center;
    color: white;
}
.copy {
    color: #777;
}
#dkbm {
    display: none;
}

.ext-call{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    background: #e3002b;
    color: white !important;
}

@keyframes pulse {
    0% {
        /*transform: scale(0.9);*/
        opacity: 0.7;
    }
    50% {
        /*transform: scale(1);*/
        opacity: 1;
    }
    100% {
        /*transform: scale(0.9);*/
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        /*-webkit-transform: scale(0.95);*/
        opacity: 0.7;
    }
    50% {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
    100% {
        /*-webkit-transform: scale(0.95);*/
        opacity: 0.7;
    }
}
.index-page {
    background: url('../img/bg_index.jpg') no-repeat bottom !important;
}

.index-page h1 {
    text-align: center;
    color: #e3002b;
    padding-top: 30px;
}
.navbar.index-page {
    background: transparent !important;
}

.icon-bars-red {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%20fill%3D'%23e3002b'%2F%3E%3C%2Fsvg%3E") !important;
}
.logo {
    width: 26px;
    height: 26px;
}
.index-toolbar {
    background: none;
}
.index-toolbar .content-block {
    margin-top: 0;
}
#map {
    min-height: 150px;
}



.slide1 {
    animation: fadeInOut2 7s ease reverse forwards infinite;
    position: fixed;
}

.slide2 {
    animation: fadeInOut1 7s ease reverse forwards infinite;
    position: fixed;
    /*opacity: 0;*/
    text-align: center;
    width: 100%;
}

@keyframes fadeInOut1 {
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 1}
    40% { opacity: 1}
    50% { opacity: 0}
    60% { opacity: 0}
    70% { opacity: 0}
    80% { opacity: 0}
    90% { opacity: 0}
    100% { opacity: 0}
}

@keyframes fadeInOut2 {
    0% { opacity: 0 }
    10% { opacity: 0 }
    20% { opacity: 0 }
    30% { opacity: 0 }
    40% { opacity: 0 }
    50% { opacity: 0 }
    60% { opacity: 1 }
    70% { opacity: 1 }
    80% { opacity: 1}
    90% { opacity: 1}
    100% { opacity: 0}
}
.avark {
    line-height: 44px;
    font-size: 1.3em !important;
}
