.pages
    // Page, data-page contains page name
    .page(data-page="about")
        .navbar
            .navbar-inner
                .left
                    a(href="#").back.link
                        i.icon.icon-back
                .center.sliding О программе
                .right
        // Scrollable page content
        .page-content
            .content-block
                .content-block-inner
                    p Тут информация о программе!
                    p Много текста и картинок.
                    p Fusce eros lectus, accumsan eget mi vel, iaculis tincidunt felis. Nulla tincidunt pharetra sagittis. Fusce in felis eros. Nulla sit amet aliquam lorem, et gravida ipsum. Mauris consectetur nisl non sollicitudin tristique. Praesent vitae metus ac quam rhoncus mattis vel et nisi. Aenean aliquet, felis quis dignissim iaculis, lectus quam tincidunt ligula, et venenatis turpis risus sed lorem. Morbi eu metus elit. Ut vel diam dolor.
