.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="dtp")
        // Top Navbar
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.open-panel 
                        i.icon.icon-bars
                .center.sliding Попали в ДТП?
        // Scrollable page content
        .page-content
            .list-block.media-list
                ul
                    li
                        a(href="#").item-link.external.item-content.ext-call
                            .item-media
                                img(src="img/i-logo-w.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title Вызвать аварийного комиссара
                                .item-subtitle Позвонить аварийному комисару
            .list-block.media-list
                ul
                    li
                        a(href="list.html").item-link.item-content
                            .item-media
                                img(src="img/i-logo.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title Порядок действий 
                                .item-subtitle водителей при ДТП
            .content-block-title Проверка полиса ОСАГО 
            .list-block
                ul 
                    li
                        .item-content
                            .item-inner
                                .item-title Серия
                                .item-input
                                    select(name="serial")
                                        option(value="ХХХ", selected=true) ХХХ
                                        option(value="ССС") ССС
                                        option(value="ЕЕЕ") ЕЕЕ
                                        option(value="ВВВ") ВВВ
                    li
                        .item-content
                            .item-inner 
                                .item-title.label Номер
                                .item-input
                                    input(name="number",type="number", placeholder="номер",maxlength="10")
                    li
                        .item-content
                            .item-media
                                img(id="dkbm-captcha")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Код с картинки
                                .item-input
                                    input(name="code", type="text", placeholder="код",maxlength="7")
                    li
                        .content-block
                            input(name="JSID", type="hidden")
                            a(href="#").button.open-preloader#check-polis Проверить
