.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="map")
        // Top Navbar
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.back 
                        i.icon.icon-back
                .center.sliding Доехать
        // Scrollable page content
        #map.page-content
