// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="my-add")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    a(href="#").back.link
                        i.icon.icon-back
                .center.sliding Добавить полис 
                .right
                    a(href="#").link.add-polis Сохранить 
        // Scrollable page content
        .page-content
            .list-block.media-list
                ul 
                    li
                        .item-content
                            .item-inner
                                .item-title Серия
                                .item-input
                                    select(name="serial")
                                        option(value="XXX", selected=true) XXX
                                        option(value="CCC") CCC
                                        option(value="EEE") EEE
                                        option(value="BBB") BBB
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Номер
                                .item-input
                                    input(name="number",type="number", placeholder="номер",maxLength="10")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Страхователь
                                .item-input
                                    input(name="company",type="text", placeholder="страхователь",maxLength="10")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Дата окончания полиса
                                .item-input
                                    input(name="date",type="text", placeholder="дата окончания полиса",maxLength="10")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Вид страхования
                                .item-input
                                    select(name="type")
                                        option(value="ОСАГО", selected=true) ОСАГО
                                        option(value="КАСКО") КАСКО
                                        option(value="ИНОЕ") ИНОЕ
