// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="osago-ur")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    a(href="#").back.link
                        i.icon.icon-back
                .center.sliding КБМ (Юридическое лицо)
        // Scrollable page content
        .page-content
            .list-block
                ul 
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label ИНН
                                .item-input
                                    input(name="inn", type="text", placeholder="инн", maxlength="10")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label VIN
                                .item-input
                                    input(name="vin", type="text", placeholder="vin", maxlength="17")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Номер кузова
                                .item-input
                                    input(name="number", type="text", placeholder="номер кузова")
                    li
                        .item-content
                            .item-media
                                img(id="dkbm-captcha")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Код с картинки
                                .item-input
                                    input(name="code", type="text", placeholder="код")
                    li
                        .content-block
                            input(name="JSID", type="hidden")
                            a(href="#").button.button-raised#check-kbm Проверить
